<launch>
	
	<arg name="bd_list" default="100000000000000"/>
    <param name="livox_msg_type" value="0"/>

    <node name="livox_hub_publisher" pkg="livox_ros_driver" 
	      type="livox_hub_node" required="true"
	      output="screen" args="$(arg bd_list)"/>
    
	<!--
	<node name="rviz" pkg="rviz" type="rviz" respawn="true"
	      args="-d $(find livox_ros_driver)/config/display_hub_points.rviz"/>
    -->
</launch>
